<h1>About this Skeleton</h1>

<p>
	It's only to make me create projects a lot faster!<br/>
	This is the way I usually work, with view-models (Not always Kostache, but it's nice as well), with asset-management and much more.
</p>