[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/tasks-assets"]
	path = modules/tasks-assets
	url = git://github.com/iGore/tasks-assets.git
[submodule "modules/minion"]
	path = modules/minion
	url = git://github.com/kohana/minion.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/kohana/unittest.git
