<!doctype html>
<html>
	<head>
		<meta charset=utf-8>

		<title>{{title}}</title>


		{{{stylesheets}}}
		{{{scripts}}}
	</head>
	<body>

		{{>navbar}}

		<div class="container" id="wrapper">

			<div class="row" id="header">
				<div class="span12">
					{{>header}}
				</div>
			</div>

			<div class="row" id="content">

				<div class="span12">
					{{{content}}}
				</div>

			</div>

			<div class="row" id="footer">
			</div>

		</div>
	</body>
</html>