<div class="navbar navbar-inverse navbar-static-top ">
  <div class="container">
  	<div class="navbar-header">
  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  			<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
  		</button>
    	<a class="navbar-brand" href="/">Application Skeleton</a>
  	</div>    
    
     
    <!-- Everything you want hidden at 940px or less, place within here -->
    <div class="navbar-collapse collapse">
    	<ul class="nav navbar-nav">
				{{#navigation}}
				<li class="">
					<a href="{{Path}}">{{Title}}</a>
				</li>
				{{/navigation}}
      </ul>
    </div>
   
  </div>
</div>